.MovieDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.MovieDetail-title {
  text-align: center;
  margin-bottom: 2rem;
}

.MovieDetail-title > h1 {
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 200;
}

.MovieDetail-title > span {
  font-size: 1.4rem;
}

.MovieDetail-details {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  width: 60%;
  min-width: 50rem;
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  align-items: center;
}

.MovieDetail img {
  width: 25rem;
  margin-right: 3rem;
}

.MovieDetail-details h4 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: rgb(176, 172, 177);
  font-weight: 200;
}

.MovieDetail form > button {
  font-size: 1.6rem;
  margin: 0 1rem;
  padding: 1rem 0.7rem;
  border-radius: 7px;
  color: white;
  width: 9rem;
}

.MovieDetail-rating-title {
  margin-top: 4rem;
  font-size: 1.6rem;
}

.MovieDetail-up {
  background-color: rgb(59, 179, 59);
}

.MovieDetail-down {
  background-color: rgb(230, 71, 71);
}